.cartao{
    border-radius: 15px;
    background-color: #1b222c;
    color: #cfcfcf;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 350px;
    padding: 20px;
}

.star{
    background-color: hsl(210, 1%, 34%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.star img{
    background-color: transparent;
    position: absolute;
    left: 31px;
    top: 31px;
}

.cartao h3, p{
    background-color: transparent;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 25px;
    bottom: 100px;
    background-color: #1b222c;
}

.rate{
    padding: 20px;
    border: hsl(210, 1%, 34%);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #3b444d;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.rate:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: orange;
    color: white;
}

.rate::selection{
    background-color: white;
}

.title{
    margin-bottom: 10px;
}

.botao{
   border: none;
   border-radius: 15px;
   background-color: orange;
   color: white;
   font-weight: bold;
   width: 300px;
   position: absolute;
   bottom: 30px;
   right: 35px;
   padding: 10px;
   transition: 0.2s ease-in-out;
}

.botao:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: white;
    color: orange;
}

.attribution { 
    font-size: 11px; 
    position: absolute;
    bottom: 20px;
    left: 550px;
    color: #cfcfcf;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }